@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Cookie&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Cookie&family=Lobster+Two&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Cookie&family=Lobster+Two&family=Merienda&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');


@import "~antd/dist/antd.less";
@import "./partials/collapseBox.less";
@import "./partials/dashboard.less";
@import "./partials/calendar.less";
@import "./partials/irb.less";
@import "./partials/executive.less";
@import "./partials/pages.less";
@import "./partials/avatars.less";
@import "./partials/table.less";
@import "./partials/ra-review.less";
@import "./partials/audit.less";
@import "./partials/utils.less";
@import "./partials/denials.less";


.d-block {
  display: block !important;
}

textarea {
  border : 1px solid lightgrey !important
}

.ant-radio-button-wrapper  {
  padding: 0px 8px !important;
}

.ant-table-measure-row .general-table .ant-table-tbody > tr > td {
    padding: 0px !important;
  
}

::selection {
  color: black !important;
  background: #d8e6df !important
}

svg:not(:root) {
  overflow: inherit !important;
}

.flex {
  display: flex;
}

.digital {
  font-family: 'Orbitron', sans-serif;
}

.topcard .counter-container {
  width: 125px;
  height: 115px;
  padding: 0px 5px;
  display: inline-block;
  margin-right: 0px;
  text-align: left;
  background-image: url(../assets/images/kpi-background.png);
  background-size: contain;

}


.badges {
  height: 21px;
    width: 21px;
    background: #eeeeee;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    color: #000000 !important;
}

.counter-container {
  width: 125px;
  height: 115px;
  padding: 0px 5px;
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  background-image: url(../assets/images/kpi-background.png);
  background-size: contain;

}


.checker-background {
    width: 70px;
    background-image: url(../assets/images/checkboard.png);
    background-size: cover;
    height: 28px;
    border: 1px solid 
}

.h-100 {
  height: 100%;
}

.p-5 {
  padding: 20px;
}

.inline {
  display: inline-block;
}

.w-50 {
  width: 50%;

}

.text-end {
  text-align: end;
}

.bold {
  font-weight: 600;
}

.mb-5 {
  margin-bottom: 20px;
}

.wq-fixed-table .ant-pagination  {
  position: absolute;
  margin-top: -45px;
  width: 30%;
  right: 0
}

.wq-fixed-table .ant-table-footer {
  padding: 26px 0px !important;
  background: white !important;
}



.wq-fixed-table .ant-table-body {
  height: calc(100% - 10%) !important;
  min-height: calc(100vh - 20.5em);

  .ant-pagination {
    margin-top: -50px
  }
}

.pdf-viewer .react-pdf__Page {
  position: relative !important;
}


.whiteBox {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.mb-2 {
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0px !important;
}


.react-pdf__Document {
  overflow-y: auto;
  -webkit-user-select:none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.pdf-viewer1 {
  min-height: 90vh;
    position: sticky;
    overflow: scroll;
}

.pdf-viewer {
  position: relative;
}

.search-modal-pdf .react-pdf__Document {
  overflow: scroll;
  height: 535px !important;
}

.react-pdf__Page {
  position: absolute !important;
}

.react-pdf__Page__canvas {
  margin: auto;
}

.wq-filter1-table .ant-pagination  {
  position: absolute;
  margin-top: -50px;
  width: 30%;
  right: 0
}

.absolute {
  position: absolute;
}

.mr-20 {
  margin-left: 20px;
}

.mr-100 {
  margin-left: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.block {
  display: block;
}

.mt-10 {
  margin-top: 10px;
}

.border-5 {
  border-radius: 6px;
}
 
.w-100 {
  width: 100% !important;
}

.wq-filter1-table .ant-table-footer {
  padding: 26px 0px !important;
  background: white !important;
}

.wq-filter1-table .ant-table-body {
  height: calc(100% - 10%) !important;
  min-height: calc(100vh - 27.7em);
}


.filterTable {
  width: 100%;
  border: 1px solid lightgrey;
  height: 32px;
  border-radius: 5px;
  text-align: center;
}

.filterTable td:nth-child(1) {
  width: 70%;
  border-right: 1px solid lightgrey;
  padding: 4px;
  font-weight: 600;
}

.filterTable td:nth-child(2) {
  width: 30%;
}




.checker-background:hover {
  width: 70px;
  background-image: url(../assets/images/checkboard.png);
  background-size: cover;
  height: 28px;
  border: 1px solid 
}

.e-pv-sidebar-toolbar {
  display: none !important;
}

.checker-background:focus {
  width: 70px;
  background-image: url(../assets/images/checkboard.png);
  background-size: cover;
  height: 28px;
  border: 1px solid 
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent !important;
}

.wq-filter-table .ant-modal-body {
  height: 290px !important;
  overflow: auto !important;
}

.wq-filter-table .ant-table-body {
  height: 365px !important;
    min-height: 240px !important;
    border: 1px solid lightgrey
}

.blur-background td{
  background: white !important;
  border-bottom: none !important;
}

.wq-filter-table .ant-table-tbody > tr > td {
  padding: 8px !important;
}

.start-button .ant-btn-danger {
  background: #FFFA73 !important;
  color: black;
  border: 1px solid #e9b03b;
}

.wq-filter-table .ant-table-cell .ant-form-item{
  margin-bottom: 0px !important;
}

.wq-filter-table .ant-table-measure-row {
  visibility: collapse !important; 
}

.wq-filter-table .ant-table-tbody tr:first-child  {
  background-color: lavender;
}


.barchart-label {
  margin-top: -23px;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  font-style: italic
}

.liquid-chart-label {
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  font-style: italic;
  margin-top: 0px
}

.se-submenu {
  max-height: 475px !important;
}

.__react_component_tooltip {
  padding: 2px 16px !important;
  font-size: 20px !important;
  margin-top: 0px !important;
}

.top-card-left , .top-card-right {
  .recharts-surface {
    width: 105px !important
  }
}

.ant-table-thead > tr > th {
  background-color: #8b8b8b;
  color: #FFFFFF
}

.ant-layout-sider-trigger {
  position: absolute;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.ant-radio-button-wrapper {
  padding: 0px 6px !important;
  font-size: 11px !important;
}

// .ant-table-filter-dropdown-btns {
//   display: block;
//   text-align: right;
// }

// .ant-table-filter-dropdown-btns button:nth-child(1) {
//   display: none !important;
// }

.suneditor-container .sun-editor .se-wrapper .se-wrapper-inner {
    width: 100%;
    height: 100%;
    min-height: 180px;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    user-select: auto;
    -o-user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    max-height: 300px;
}

.zoom-container-1 {
  text-align: center;
  position: inherit;
  z-index: 100;
  top: 0px;
  width: 100%;
}

.zoom-container {
  // text-align: center;
  // position: inherit;
  // top: 28px;
  // z-index: 100;
  // width: 100%;
  background-color: white;
  position: inherit;
  top: 1px;
  z-index: 100;
  width: 100%;
}

.table-column {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.filtered-table {
  width: 100%;
}

.filtered-table thead {
  background: #8b8b8b;
  color: #fff;
  
}


.ant-modal-wrap {
  z-index: 1045 !important
}

.ant-notification  {
  z-index: 1050 !important

}

.filtered-table thead th, .filtered-table tbody td {
  text-align: left;
  padding: 5px 10px;
  width: 180px
}

.table-header {
  height: 115px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: auto; 
  box-shadow: 0px 0px 5px -1px #b7b7b7;
}

// Epic Productivity
.epic-productivity1  .ant-table-body {
  min-height: calc(100vh - 22.7em) !important;
}


.ant-table tfoot > tr > td {
  padding: 12px 10px !important
}

.ant-table-summary {
  color: white !important;
  background: #8b8b8b !important;
}

.table-header  .ant-table-container:before  {
  position: relative !important;
}

.table-header .ant-table-container::after  {
  position: relative !important;
}




.box-shadow {
  box-shadow: lightgrey 1px 1px 8px 1px;
}


// .badges {
//   max-width: 60%;
//   margin: auto

// }

// @media (max-width: 1150px) {
//   .badges {
//     max-width: 250px;
//   }
// }

// @media (max-width: 2500px) and (min-width: 1150px) {
//   .badges {
//     max-width: 320px;
//   }
// }

@media screen and (max-width: 3500px) {
  

  .asssignedBadge {
    // height: 25px;
    width: 16.5%
  }    
}

.ant-badge-status {
  line-height: 16px !important;
} 

.general-label {
  text-align: center;
    font-size: 9px;
    font-weight: 600;
    // font-style: italic;
    margin-top: -6px;
}

.progress-chart .ant-progress-text {
  font-size: 12px !important;
}

@media screen and (min-width: 2500px) {
  .asssignedBadge {
    width: 16.5%
  }
}

.pad24 {
  padding: 24px;
}

.ant-badge  {
  display: block;
  text-align: left !important;
}

.ant-page-header-heading-left {
  overflow: initial;
}

.centered {
  position: absolute;
  top: 48%;
  width: 100%;
}


.center-graph {
  display: flex;
  align-items: center;
  height: 200px;
}

.user-members {  
  box-shadow: 0px 0px 5px -1px #b7b7b7;
  display: inline-block;
  border: 1px solid;
  height: 115px;
  margin-right: 10px;
  text-align: left;
  // padding: 0px 8px 0px 0px;
  border-radius: 5px;
  border-color: #c2c2c2;
  overflow: hidden;
}

.empty-aging-days {  
  display: inline-block;
  height: 110px;
  margin-right: 8px;
  text-align: left;
  padding: 0px 8px 0px 0px;
  border-radius: 5px;
  border-color: #c2c2c2;
}

.color-box {
  box-shadow: 0px 0px 5px -1px #b7b7b7;
  display: inline-block;
  border: 1px solid;
  height: 115px;
  margin-right: 10px;
  text-align: left;
  padding: 20px 5px;
  border-radius: 5px;
  border-color: #c2c2c2; 
}

.time-box {
  padding: 2px;
  color: lightgrey;
  font-weight: 500;
  width: center;
  width: 46px;
  margin-top: 22px;
  text-align: center;
}

.timer-box-container {
  background: url(../assets/images/clock_timer.png);
  background-size: cover;
  height: 68px;
  display: flex;
  padding-left: 9px;
}

.chart-container {
  width: 125px;
  height: 115px;
  padding: 0px 5px;
  box-shadow: 0px 0px 5px -1px #b7b7b7;
  display: inline-block;
  border: 1px solid;
  margin-right: 10px;
  text-align: left;
  border-radius: 5px;
  border-color: #c2c2c2;

  svg {
    overflow: inherit !important;
    margin-top: 5px;
  }
}

.liquid-chart {
  width: 115px;
    height: 115px;
    padding: 0px 5px;
    box-shadow: 0px 0px 5px -1px #b7b7b7;
    display: inline-block;
    border: 1px solid;
    margin-right: 10px;
    text-align: left;
    border-radius: 5px;
    border-color: #c2c2c2;
}

.whitebox  {
  background-color: white !important;
}

.ant-page-header-heading-title {
  font-family: "Cinzel", serif !important;
  // font-size: 48px !important;
  overflow: initial;
  font-weight: 600 !important;
  font-size: 36px !important;
}

.editable-cell-value-wrap {
  height: 30px;
}

.colorPicker {
  display: block;
  float: left;
  width: 50px;
  min-height: 85px;
  margin-right: 10px;
  text-align: center;
  line-height: initial;
  button {
    width: 33px
  }
  span {
    text-align: center;
    font-size: 10px !important;
    display: block;
    width: 50px;
  }
}

.ant-table-filter-trigger.active span {
  color: #000000 !important
}

.ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active {
  color: #000000 !important
}

.ant-table-thead th.ant-table-column-sort {
  background: #8b8b8b !important;
}

.ant-layout-sider {
  height: 100vh;
  box-shadow: lightgrey 1px 1px 6px 5px;
}


.misfile .ant-pagination {
  position: absolute;
  margin-top: -48px;
  width: 30%;
  right: 0;
}

.ant-badge-status-text {
  font-size: 10px !important;
  margin-left: 5px;
}

.text-right  {
  text-align: right !important;
}

.mr-3 {
  margin-left: 5px;
}

.text-shadow {
  text-shadow: 0px 0px black;
}

.username {
  margin: auto;
    vertical-align: bottom;
    display: inline-block;
    width: calc(100% - 45%);
    text-align: center;
}

.ant-popover-inner-content  {
  padding: 12px 16px 1px !important;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.amount-container{
  // margin-top: 40px;
  // text-align: center;
  // margin-bottom: -4px;
  // font-weight: 600;

  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 44px;
}

.icon {
  margin-top : -3px;
}

.ant-form {
  margin-top: 6px !important;
  height: 100% !important;
}




.kpi-table  .ant-table-pagination  {
  background: white;
    padding: 17px;
    margin-top: -22px;
    position: absolute;
    right: 0;
}

.kpi-table .ant-table-body {
  height: 315px !important;
  min-height: 333px;
  overflow: scroll !important;
  border-bottom: 1px solid rgb(204, 204, 204);
  
}

.kpi-table .ant-table-thead > tr > th  {
  padding: 6px 0px !important;
  text-align: center;
  border: none;
}

.kpi-table .ant-table-footer {
  padding: 0px !important;
}



.text-end {
  text-align: end !important;
}

.ant-modal-body {
  padding: 10px 15px 1px !important;
  height: 87% !important;
}

.mb-2 {
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.ant-table-footer {
  display: inline-block;
  min-width: 1000px;
}


.ant-table-thead{
  height: 45px !important;
}

.wq-rows td {
  padding: 4px 4px !important;
}

.mt-2 {
  margin-top: 30px;
}

.ant-table-cell-scrollbar {
  box-shadow: none !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.ant-table-container {
  height: calc(100% - 41%) !important;
}

.ant-table-body {
  height: calc(100% - 10%) !important;
  min-height: calc(100vh - 25em);
}

.timer-container {
  display: inline-flex;
  font-family: 'Orbitron', sans-serif;
  height: 65px;
  vertical-align: top;
  font-size: 18px;
  letter-spacing: -1px;
  width: 160px;
  font-weight: 700;
}

.timer {
  display: flex;
  flex-direction: column-reverse;
  width: 160px
}

.wq-table .ant-pagination  {
  position: absolute;
  margin-top: -40px;
  // width: 30%;
  right: 0
}

.mt--10 {
  margin-top: -10px;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: #8b8b8b !important;
  color: white !important;
}

.ant-table-footer {
  padding: 12px 0px !important;
  background: white !important;
}

.editor {
  border: 1px solid lightgrey;
  height: calc(100% - 40px);
  padding: 0px 10px;
}

@media (max-width : 1482px) {
  .editor {
  height: calc(100% - 40px)
  }
}

@media (min-width :1482px) and (max-width: 5000px) {
  .editor {
  height: calc(100% - 40px)
  }
}

.mb-1 {
  margin-bottom:  18px;
}

.mt-2 {
  margin-top: -10px;
}

.mt-3 {
  margin-top: 25px;
}



.editor-wrapper {
  height: calc(100% - 50px)
}

.text-center {
  text-align: center;
}

.ant-popover-title {
  min-height: 45px !important;
  padding: 12px 16px 4px !important;
}

.ant-form-item-label {
  text-align: left !important;
}

.ant-modal-header, .ant-modal-content {
  border-radius: 10px  !important;
}

.ant-modal-header {
  padding: 10px 14px;
}

.menu-option {
  cursor: pointer;
}

.header {
  font-family: 'Great Vibes', cursive;
  font-size: 22px !important;
  font-weight: bold !important;
  margin-top: -5px;
}

.sub-header {
  font-family: 'Great Vibes', cursive;
  font-size: 14px !important;
}

.performance-heading {
  margin-top: -15px; 
  font-family: 'Great Vibes', cursive;
  font-size: 18px !important;
  position: absolute; 
  font-weight: 600  !important

}

.username-container {
  display: inline-flex;
  width: 115px; 
  height: 50px; 
  flex-direction: column;
  vertical-align: text-top;
  margin-top: -12px
}

.scale1:hover {
  transform: scale(3);
  margin-top: -22px;
  transition: margin-top 0.5s ease;
}

.scale2:hover {
  transform: scale(2, 2);
    transition: margin 0.5s ease;
    margin: -10px 0px 0px -6px;
}

.scale3:hover {
  transform: scale(2);
  transition: transform 0.5s ease;
}

.italic {
  font-family: 'Great Vibes', cursive;
  font-size: 16px !important;
  font-weight: normal !important;
}

.pad5 {
  padding: 10px;
}

.text-danger {
  color: red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.padding-right {
  padding-right:  10px;
}

.padding-top {
  padding-top: 10px;
}

.topbar-header {
  font-family: 'Great Vibes', cursive;
  font-size: 50px !important;
  font-weight: bold !important;
  margin-top: 14%;
  opacity: 0.75;
}

.se-resizing-bar {
  background-color: white !important;
  border: none !important;
}

.sun-editor {
  border: none !important
}

.texture {
  background-image: url('../assets/images/texture2.jpg');
}

.large-content .ant-menu-title-content {
  display: flex;
  flex-direction: column;
}

.first-span {
  line-height: 1px;
  margin-top: 20px;
}

.status-select {
  width: 180px; 
  float: left; 
  padding: 0 10px
}

.status-select .ant-select {
  min-width: 100%; 
  margin-bottom: 30px
}

.dropDownBox {
  background: #fff;
  border-radius: 6px;
  width: auto;
  min-width: 100px;
  min-height: 120px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 3px rgba(76, 76, 76, 0.1);
  transition: all 0.3s ease-in-out;
  top: 0px;
  position: relative;
}

.dropDownBox:hover {
  box-shadow: 0px 0px 28px 4px rgba(76, 76, 76, 0.15);
}
.logo {
  height: 32px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  margin-bottom: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 6px;
  box-shadow: lightgrey 1px 1px 6px 5px;
  transition: all 0.3s ease-in-out;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-layout-sider-zero-width-trigger {
  top: 5px;
  right: 10px;
  color: #001529;
  background: none;
  font-size: 20px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 38px;
  margin-left: -16px;
  margin-top: -19px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo .ant-avatar {
  float: left;
  margin-left: 10px;
}

.ant-dropdown-menu {
  border-radius: 6px;
}
.login-form button[type="submit"] {
  margin-bottom: 20px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.clickRowStyl {
  background: #00b4ed;
}
.ant-table {
  -webkit-user-select:none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.ant-table-row-selected > td {
  background: #edfafd !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-avatar {
  width: 55px;
  border-radius: 500%;
  margin-bottom: 10px;
  height: 54px;
}

.ant-layout.ant-layout-has-sider > .ant-layout {
  height: 100vh;
    overflow: auto;
}

.sun-editor-editable table td {
  vertical-align: top;
}

.sun-editor .se-wrapper .se-wrapper-wysiwyg {
  border: 1px solid #d3d3d3;
}

.sun-editor .se-btn-select.se-btn-tool-font {
  width: 85px !important;
}

.sun-editor .se-btn-select.se-btn-tool-size {
  width:60px !important;
}

.sun-editor-editable table td.se-table-selected-cell {
  vertical-align: initial;
}

.reminders-container {
  img {
    max-width: 100% !important;
  }
}

.ant-layout-sider-children {
  overflow: auto;
}

.ant-layout-sider-children::-webkit-scrollbar {
  display: none;
}

.ant-layout-sider {
  width: 225px ;
  min-width: 200px ;
  flex: 0 0 225px ;
  max-width: 225px ;
}

.ant-layout-sider-trigger {
  width: 100% !important
}

.App-link {
  color: #61dafb;
}

.se-image-container {
  max-width: 100% !important;
  overflow: auto;
}

.__se__t-shadow {
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 0.2rem #999, 0 0 0.4rem #888, 0 0 0.6rem #777, 0 0 0.8rem #666, 0 0 1rem #555;
}

.ant-menu-title-content {
  font-size: 12.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


